<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <H1>The Home Page <%= 4+5+1%>
    </H1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum molestias impedit expedita rem totam, et
        accusantium nisi illo quis quia cupiditate animi corrupti, tempora doloremque laborum voluptates eum quos
        tempore!</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet voluptatum debitis libero dicta error iure! Hic
        error veritatis deleniti consequuntur, odit, voluptates asperiores nemo minima, impedit aliquid sunt?
        Doloremque, ullam?</p>
</body>

</html>